
.header {
	height: 180px;
	max-width: 100%;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	position: relative;
	background-color: #438643;

}
h1 {
	font-family: KellsFLF;
	font-size: 85px;
	text-align: center;
}
.subhead {
	font-family: KellsFLF;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.main-body-1 {
	height: 650px;
	max-width: 100%;
	background-image: url("assets/Seaside-Cottage.jpg");
	text-align: center;
	background-repeat: none;
	background-size: 100%;

}

.nav-bar {
	display: inline;
	text-align: top;
	height: 100px;
	text-align: center;

}
  .nav-bar li{
	display: inline-block;
	margin-left: 25px;
	padding-top: px;
	padding: 3px;
	list-style: none;
	font-size: 20px;
	border: ;
	background-color: #d3d3d3;
	vertical-align: top;
	position: relative;
}

.nav-bar li:hover {
	color: #32CD32;
}

 .sub-nav  {
	display: block;
	border: none;
	background-color: none;
	text-align: ;
	position: absolute;
}
.sub-nav li {
	border: none;
	background-color:none;
	display: block;
	font-size: 15px;
	margin-right: 0px;
}

	
.thumbnail {
	opacity: .9;
	border: 1px solid black;
}
.thumbnail:hover {
	opacity: 1;

}
.container {
	margin-top: 20px;
	background-color:;
}
.main-body-2 {
	text-align: center;
}


.body2 {
	background-color: #F8FBEF;
}
.nav-bar a	{
	text-decoration: none;
}
.info {
	margin-top: 0px;
	width: 250px;
	height:350px;
	margin-left: 10px;
	background-color: ;
	font-family: Candara;
	font-size: 20px;
	font-weight: bold;
	display:block;
	float:left;
	color: black;
}
.image-left {
	diplay: inline-block;
	float: left;
	margin-top: 15px;
}
.image-right {
	display: inline-block;
	float: right;
}
.container {
	margin-top: 90px;
}

@media (min-height: 700px){
	.main-body-1 {
		height: 800px;
	}
}
@media (max-width: 1065px){
			h1{
			font-size: 60px;
			}
			.subhead{
			display: none;
			}
			.main-body{
				max-height: 100%;
			}
		}
@media (max-width: 600px){
			h1{
			font-size: 30px;
			}
			.image-left, .image-right{
				display:none;
			}
}

